<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!-- Enable servlets as welcome files -->
<context-param>
    <param-name>
       org.eclipse.jetty.servlet.Default.welcomeServlets
    </param-name>
    <param-value>true</param-value>
</context-param>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
   	
   	   <!-- Spring Configuration -->
        <servlet>
            <servlet-name>springweb</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        </servlet>
        
        
        <servlet-mapping>
            <servlet-name>springweb</servlet-name>

            <url-pattern>/</url-pattern>
        </servlet-mapping>

	
	
	
	
	
	
	
	
</web-app>
